/*theme colors */

:root {
  --eerieblk: #232220;
  --platinum: #e4e5e5;
  --qksilver: #a8a9a8;
  --brntorng: #D45113;
  --skobelof: #197278;
  --flame: #CF5C36;
}

/* Universal */
html, body {
    margin: 0;
    height: 100%;
    position: relative;
    width: 100;
    font-family: 'Oswald', sans-serif;
}
body {
  background-color: var(--eerieblk);
  background-image: url(../images/footerimage.jpeg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1, h2, p{
  margin: 0;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  color: var(--eerieblk);
  line-height: 100%;
}

h2, .link {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  color: var(--eerieblk);
  padding: 0px;
  cursor:pointer;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.navbar{
  width: 95vw;
  height: 5vh;
  text-align: right;
  padding-right: 5vw;
  font-size: 2em;
}

.container{
  width: 50vw;
  height: 80vh;
  padding-top: 10vh;
  padding-left: 2vw;

}

.copyright{
  height: 5vh;
  padding-left: 2vw;
}

.linkmenu {
  position: absolute;
  margin: 0px;
}

.link:link {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
  color: var(--flame);
}
.link:active {
  text-decoration: none;
}

.list {
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;
}

.image{
  height: 40vh;
  display: block;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3vh;
  margin-bottom: 3vh;
}


/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--platinum);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--eerieblk);
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: var(--flame);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
