/*theme colors */

:root {
  --eerieblk: #232220;
  --platinum: #e4e5e5;
  --qksilver: #a8a9a8;
  --brntorng: #D45113;
  --tumbleweed: #131019;
  --flame: #CF5C36;
}

@font-face {
	font-family: "custom";
	src: url('font.woff2');
  font-weight: 200;
}

/* Universal */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
body {
  background-color: var(--platinum);
}

h1, h2, p{
  margin: 0;
}

h1{
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 5.5em;
  color: var(--eerieblk);
  float: none;
}

h2{
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'custom';
  font-weight: 300;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'custom';
  font-weight: 200;
  font-size: 1em;
}

ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  /* transition: height 0.1s linear; */
  font-size: 1em;
}

#navbar {
  /* overflow: hidden; */
  background-color: #f1f1f1;
  position: sticky;
  width: 100vw;
  top: -2vh;
  padding: 4vh 0vh 1vh;
  /* border: 2px dashed green; */
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  z-index: 5;
}

.navlist{
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

#padder {
  background-color: red;
  width: 100%;
  top: 0;
}

#title{
  transition: 0.3s;
  /* border: 2px dashed red; */
  width: 80vw;
  padding: 0px;
  white-space: nowrap;
}

#menu-btn{
  /* border: 2px dashed red; */
  transition: 0.3s;
  font-size: 4em;
  padding: 0px;
  margin: 0px;
  line-height: 1.5em;
  width: 4vw;
  text-align: right;
  padding-right: 2vw;
  padding-left: 1vw;
}

#links{
  width: 100vw;
  overflow: hidden;
  text-align: center;
  font-size: 2em;
  display: block;
}

.icon{
  font-size: inherit;
  cursor: pointer;
  transition: 0.4s;
  display: inline-block;
  color: var(--eerieblk);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.icon:hover{
  color: var(--flame);
}

.spacer{
  /* border: 2px dashed red; */
  width: 10vw;
  display: inline-block;
}

.page{
  width: 100vw;
}

#landing{
  background-color: #000000;
  position: relative;
  text-align: center;
}

#landing-img{
  display: block;
  margin-left: auto;
  width: 30vw;
}

#landing-text{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: var(--platinum);
}

#landing-text:hover{
  text-decoration: none;
  color: var(--qksilver);
}

#latest-single{
  width: 100vw;
  padding-top: 5vh;
  background-color: #E6D4C7;
  text-align: center;
}

#open-my-eyes-img{
  height:35vh;
  border: 10px solid white;
  margin: 5vh;
}

.copyright{
  text-align: center;
  padding: 2vh 0vh 2vh;
  font-size: 1em;
}

.link{
  text-decoration: none;
  cursor: pointer;
  color: var(--eerieblk);
}

.link:link {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
  color: var(--flame);
}
.link:active {
  text-decoration: none;
}

.image{
  height: 40vh;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3vh;
  margin-bottom: 3vh;
}

/* Tickets Page */
.ticket{
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.ticket-info{
  background-size: contain;
  color: var(--platinum);
  margin: 0px;
}

@media screen and (orientation: portrait) {
  .ticket{
    flex-flow: row wrap;
  }
  .ticket-info{
    /* background-color: #026e90; */
    background-color: #020607;
    padding: 5vh;
    width: 95vw;
  }
  #ticket-img{
    content: url(../images/trampolene-mob.jpeg);
    width: 100vw;
  }
}

@media screen and (orientation: landscape) {
  .ticket-info{
      background-image: url(../images/trampolene-bg.jpeg);
      width: 20vw;
      padding-top: 15vw;
  }
  #ticket-img{
    content: url(../images/trampolene.jpeg);
    display: inline-block;
    width: 80vw
  }
}

.box-link{
  font-family: 'custom';
  font-size: 1.5em;
  background-color: var(--platinum);
  color: var(--eerieblk);
  padding: 2vh;
  border: 2px solid black;
}

.box-link:link {
  text-decoration: none;
}
.box-link:visited {
  text-decoration: none;
}
.box-link:hover {
  text-decoration: none;
  color: var(--eerieblk);
  background-color: var(--qksilver);
}
.box-link:active {
  text-decoration: none;
}

/* DISCOGRAPHY */
#discog{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  padding-top: 3vh;
}

#discog-title{
  width: 100vw;
  padding: 0px;
}

#song-title{
  font-family:  'custom';
  font-weight: 200;
  margin: 5vw;
  width: 90vw;
  text-align: center;
}

.arrow-btn{
  cursor: pointer;
  text-align: center;
  font-size: 3em;
  padding-top: 15vh;
  font-weight: 900;
  width: 20vw;
  height: 20vh;
}

.arrow-btn:link {
  text-decoration: none;
}
.arrow-btn:visited {
  text-decoration: none;
}
.arrow-btn:hover {
  text-decoration: none;
  color: var(--qksilver);
}
.arrow-btn:active {
  text-decoration: none;
}

#discog-img-container{
  text-align: center;
  padding-top: 3vh;
  width: 60vw;
}

.discog-img{
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  height: 30vh;
  transition:opacity 1s ease-out;
}

#active{
  opacity: 1;
}

#prev{
  opacity: 0;
}

#next{
  opacity: 0;
}

/* OVERLAY */
.overlay {
  font-family: 'custom';
  font-size: 2em;
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: var(--platinum);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 4vh;
}

.closebtn{
  font-size: 2.5em;
  right: 5.5%;
}

.about{
  padding: 5vw;
  width: 90vw;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
